<div class="container-fluid container-body theme-main-color">
    <div class="row justify-content-center" *ngIf="this.porsonInfo">
        <div class="col-3">
            <img class="float-end" src="{{this.imageUrl + this.porsonInfo.profile_path}}">
        </div>
        <div class="col-4">
            <div class="row movie-detail-title">
                <span> {{this.porsonInfo.name | uppercase }}</span>
                <p>{{this.porsonInfo.birthday }}</p>
                <p>{{this.porsonInfo.deathday }}</p>
            </div>
            <div class="row mt-3">
                <span>THE BIOGRAPHY</span>
            </div>
            <div class="row">
                <span>{{this.porsonInfo.biography}}</span>
            </div>

            <div class="row mt-3">
                <span>THE CAST</span>
            </div>

            <div class="row justify-content-between mt-3">
                <div class="col-6">
                    <button class="btn btn-primary d-inline-flex align-items-center">
                        <span>IMDB</span>
                        <span class="material-icons">local_movies</span>
                    </button>
                </div>
                <div class="col-6">
                    <button class="btn btn-primary d-flex align-items-center float-end">
                        <span class="material-icons">arrow_back</span>
                        <span>Back</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="this.porsonInfo">
        <h1>{{this.porsonInfo.name | uppercase }} <span>IN</span></h1>
        <span>MOVIES</span>
    </div>
    <div class="row">
        <span>Sort</span>
    </div>
    <div class="d-flex p-2 bd-highlight">
        <div class="">
            <select class="form-control" name="type" [(ngModel)]="sortTypeSelect" data-cy="type">
                <option *ngFor="let sortType of sortTypeValues" [value]="sortType">
                    {{sortType}}
                </option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="this.personMovisLst">
        <ng-container *ngFor="let personMovis of this.personMovisLst">
            <ng-container *ngIf="personMovis.poster_path">
                <div class="card item-movie p-0">
                    <div>
                        <img class="card-img-top" [routerLink]="['/movie',personMovis.id,'detail']"
                             src="{{this.imageUrl + personMovis.poster_path}}">
                        <div class="card-body">
                            <h5 class="card-title">{{personMovis.title}}</h5>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>







