
<div class="container-fluid container-body">
  <div class="row justify-content-center" *ngIf="this.porsonInfo">
    <div class="col-3">
      <img class="float-end" src="{{this.imageUrl + this.porsonInfo.profile_path}}">
    </div>
    <div class="col-4">
      <div class="row movie-detail-title">
        <span> {{this.porsonInfo.name | uppercase }}</span>
        <p>{{this.porsonInfo.birthday }}</p>
        <p>{{this.porsonInfo.deathday }}</p>
      </div>
      <div class="row mt-3">
        <span>THE BIOGRAPHY</span>
      </div>
      <div class="row">
        <span>{{this.porsonInfo.biography}}</span>
      </div>

      <div class="row mt-3">
        <span>THE CAST</span>
      </div>

      <div class="row justify-content-between mt-3">
        <div class="col-6">
          <button class="btn btn-primary d-inline-flex align-items-center">
            <span>IMDB</span>
            <span class="material-icons">local_movies</span>
          </button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary d-flex align-items-center float-end">
            <span class="material-icons">arrow_back</span>
            <span>Back</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>RECOMMENDED</h1>
    <span>MOVIES</span>
  </div>

<!--  <div class="row" *ngIf="this.recommendationLst">-->
<!--    <div class="card item-movie" *ngFor="let recommentItem of this.recommendationLst">-->
<!--      <div *ngIf="recommentItem.poster_path">-->
<!--        <img class="card-img-top" [routerLink]="['/movie',item.id,'detail']" src="{{this.recommentUrl + recommentItem.poster_path}}">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">{{recommentItem.title}}</h5>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>







