<div class="container-fluid container-body theme-main-color">
  <div class="row justify-content-center" *ngIf="this.personInfo">
    <div class="col-3">
      <img class="float-end" *ngIf="this.personInfo.profile_path" alt="{{this.personInfo.name}}"
           [src]="this.personInfo.profile_path | imageUrl:ProfileSizesEnums.H632">
      <ng-container *ngIf="!this.personInfo.profile_path">
        <img class="float-end"
             alt="{{this.personInfo.name}}"
             src="/content/images/no-image.jpg" height="632" >
      </ng-container>

    </div>
    <div class="col-4">
      <div class="row actor-detail-title">
        <span> {{this.personInfo.name | uppercase }}</span>
        <p>
          {{this.personInfo.birthday }}
          {{this.personInfo.deathday }}
        </p>
      </div>
      <div class="row mt-3">
        <span class="title">THE BIOGRAPHY</span>
      </div>
      <div class="row">
        <span class="biography">{{this.personInfo.biography}}</span>
      </div>
      <div class="row justify-content-between mt-3">
        <div class="col-6">
          <a *ngIf="this.personInfo.imdb_id" class="btn btn-outline-success d-inline-flex align-items-center me-3"
             href="{{'https://www.imdb.com/name/'+ this.personInfo.imdb_id}}" target="_blank">
            <span>IMDB</span>
            <span class="material-icons">local_movies</span>
          </a>
        </div>
        <div class="col-6">
          <button class="btn btn-success d-flex align-items-center float-end" (click)="goActorBack()">
            <span class="material-icons">arrow_back</span>
            <span>Back</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row actor-detail-title" *ngIf="this.personInfo && this.personMovieLst && this.personMovieLst.length > 0">
    <h1 class="mb-0">{{this.personInfo.name | uppercase }} <span>IN</span></h1>
    <p class="title">MOVIES</p>
  </div>
  <div class="row">
    <span class="title">Sort</span>
  </div>
  <div class="row d-flex p-2 bd-highlight">
    <div class="col-2">
      <select class="form-control" name="type" [(ngModel)]="sortTypeSelect" data-cy="type" (change)="changeSort()">
        <option *ngFor="let sortType of sortTypeValues;index as i" [value]="sortType.value">
          {{sortType.value}}
        </option>
      </select>
    </div>
  </div>
  <app-image-slider [items]="this.personMovieImageLst" [isShowButton] = "true" [scrollWidth]="150"></app-image-slider>
</div>







