:host{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.movie-detail-title{
  & span{
    font-weight: 400;
    font-family: system-ui;
    font-size: x-large;
  }
  & p {
    font-weight: 500;
    color: #555555;
  }
}

.row span.title{
  font-family: -webkit-body;
  font-size:large;
  font-weight:400;
  margin-bottom: 5px;
}

.synopsis{
  color: #555555;
}

.custom-checkbox{
  & input:checked{
    background-color: red;
    border-color: red;
  }
  & label{
    color: red;
    font-weight: bolder;
  }
}

.material-icons{
  cursor: pointer;
}

.cast-items{
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  & .col{
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  & .image-cast{
    padding: 5px;
    width: 3rem;
    cursor: pointer;
    & img{
      width: 45px;
      height: 45px;
      overflow: hidden;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }
}

.image-cast:hover img {
  transform: scale(1.2);
}

.movies-info{
  font-weight:bold;
  color: rgba(17,74,6,0.91);
}

.recommended-items {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  overflow-x: hidden;
  & .item-movie{
    width: 10rem;
    cursor: pointer;
    background: var(--background);
    color: var(--on-background);
  }
  & .card-title{
    font-weight: 500;
    color: rgba(101,102,98,0.77);
  }

}
