:host{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.container-body{

}

.movie-detail-title{
  & span{
    font-weight: 400;
    font-family: system-ui;
    font-size: x-large;
  }
  & p {
    font-weight: 400;
    color: #555555;
  }
}


i {
  font-size: 1rem;
  padding-right: 0.1rem;
  color: #b0c4de;
}
.filled {
  color: #ffc107;
}

.custom-checkbox{
  & input:checked{
    background-color: red;
    border-color: red;
  }
  & label{
    color: red;
    font-weight: bolder;
  }
}

.image-cast{
  width: 3rem;
  cursor: pointer;
  & img{
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
  }
}

.item-movie{
  width: 10rem;
}

