<div class="row justify-content-center">
  <div class="col-12">
    <div class="row align-items-center" *ngIf="this.items && this.items.length > 0">
      <div *ngIf="isShowButton" class="col-1 pe-0 text-center item-scroll left">
        <span class="material-icons"
              (mouseleave)="stopScrolling()"
              (mouseenter)="startScrolling('prev')"
              (click)="scrollPreviousItems()"> keyboard_double_arrow_left </span>
      </div>
      <div [ngClass]="isShowButton ? 'col-12': 'col'">
        <div class="row justify-content-center" >
          <div class="col-12">
            <div class="items-content" #scrollDiv
                 id="containerItems">
              <ng-container *ngFor="let item of this.items">
                <ng-container *ngIf="item">
                  <div class="card item p-1 ms-1">
                    <img class="card-img-top" [routerLink]="item.routerLink"
                         alt="item.title"
                         [src]="item.imageUrl | imageUrl:item.quality">
                    <div class="card-body text-center">
                      <h5 class="card-title">{{item.title}}</h5>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isShowButton" class="col-1 text-center item-scroll right">
        <span class="material-icons"
              (mouseleave)="stopScrolling()"
              (mouseenter)="startScrolling('next')"
              (click)="scrollNextItems()"> keyboard_double_arrow_right </span>
      </div>
    </div>
  </div>
</div>
