<div class="container-fluid theme-main-color">
  <div class="row justify-content-center">
    <div class="col-5">
      <ngb-carousel *ngIf="this.nowPlayingMovies">
        <ng-container *ngFor="let movieItem of this.nowPlayingMovies; index as i">
          <ng-container *ngIf="movieItem.backdrop_path">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="this.backdropPathUrl + movieItem.backdrop_path" alt="{{movieItem.title}}"/>
              </div>
              <div class="carousel-caption">
                <h3>{{movieItem.title}}</h3>
                <p>{{movieItem.overview}}</p>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
      </ngb-carousel>
    </div>
  </div>
  <app-image-slider [items]="this.poppulerPeople" [isShowButton] = "true" [scrollWidth]="150"></app-image-slider>
</div>
