<div class="navbar-right theme-main-color">
  <div>
    <span class="title">DISCOVER</span>
    <div class="row item" [routerLink]="['/movie', discoverType.POPULAR]">
      <div class="d-flex align-items-center">
        <span class="material-icons">favorite</span>
        <p class="mb-0 ml-2 ps-1 ">Popular</p>
      </div>
    </div>
    <div class="row item" [routerLink]="['/movie', discoverType.TOP_RATED]">
      <div class="d-flex align-items-center">
        <span class="material-icons">stars</span>
        <p class="mb-0 ml-2 ps-1">Top Rated</p>
      </div>
    </div>
    <div class="row item" [routerLink]="['/movie', discoverType.UPCOMING]">
      <div class="d-flex align-items-center">
        <span class="material-icons">calendar_today</span>
        <p class="mb-0 ml-2 ps-1">Upcoming</p>
      </div>
    </div>
  </div>
  <div>
    <span class="title">GENRES</span>
    <div class="row item" *ngFor="let item of this.genres;index as i">
      <div class="form-check custom-checkbox">
        <input class="form-check-input" type="checkbox" value="" id="checkbox{{i}}" (change)="onCheckboxChange()" [(ngModel)]="item.checked">
        <label class="form-check-label" for="checkbox{{i}}">
          {{item.name}}
        </label>
      </div>
    </div>
  </div>
</div>

