<div class="navbar-right theme-main-color">

  <div>
    <span class="title">DISCOVER</span>
    <div class="row item" (click)="routerLinkDiscover(discoverType.POPULAR)">
      <div class="d-flex align-items-center">
        <span class="material-icons">favorite</span>
        <p class="mb-0 ml-2 ps-1 ">Popular</p>
      </div>
    </div>
    <div class="row item" (click)="routerLinkDiscover(discoverType.TOP_RATED)">
      <div class="d-flex align-items-center">
        <span class="material-icons">stars</span>
        <p class="mb-0 ml-2 ps-1">Top Rated</p>
      </div>
    </div>
    <div class="row item" (click)="routerLinkDiscover(discoverType.UPCOMING)">
      <div class="d-flex align-items-center">
        <span class="material-icons">calendar_today</span>
        <p class="mb-0 ml-2 ps-1">Upcoming</p>
      </div>
    </div>
  </div>
  <div>
    <span class="title">GENRES</span>
    <div class="row item" *ngFor="let item of this.genres;index as i">
      <div class="custom-checkbox ">
        <input id="checkbox-{{i}}" type="checkbox" (change)="onCheckboxChange()" [(ngModel)]="item.checked">
        <label for="checkbox-{{i}}" class="checkbox-label">{{item.name}}</label>
      </div>
    </div>
  </div>
</div>

