.container-board{
  border: #020202 1px solid;
  margin: 10px;
  cursor: pointer;
   & .row{
     & .col{
       padding-bottom: calc(var(--bs-gutter-x) * .5);
       padding-top: calc(var(--bs-gutter-x) * .5);
       height:50px;
     }
     & .col:hover{
       outline: #020202 1px solid;
     }
   }
}

.board-deactivate{
  pointer-events: none;
  background-color: #f2eeed;
}
.selected{
  border-radius: 50%;
  background-color: #555555;
}


.ship-0{

}
.ship-1{

}
.ship-2{

}
.ship-3{

}
.ship-4{

}
.ship-5{

}
