<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1>
        <span *ngIf="this.playerPoints != 0">Setting ship: {{this.playerPoints}}</span>
        <span *ngIf="this.playerPoints == 0">You: record - {{this.playerScores}}</span>
      </h1>
    </div>
    <div class="col text-center">
      <h1>
        <span *ngIf="this.computerPoints != 0">Setting ship: {{this.computerPoints}}</span>
        <span *ngIf="this.computerPoints == 0"> Computer: record - {{this.computerScores}}</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col container-board text-center" [ngClass]="playerPoints == 0  ?'board-deactivate':''">
      <div class="row" *ngFor="let row of playerBoard;index as colIndex">
        <div class="col" *ngFor="let cell of row;index as rowIndex"
             [attr.col-data]='colIndex'
             [attr.row-data]='rowIndex'
             (click)="playersBoardsClick($event)"
        >
          <ng-container [ngSwitch]="cell">
            <ng-container *ngSwitchCase="99">
                <span class="ship-{{cell}}"
                      [attr.col-data]='colIndex'
                      [attr.row-data]='rowIndex'
                >X</span>
            </ng-container>
            <ng-container *ngSwitchCase="98">
                <span class="ship-{{cell}}"
                      [attr.col-data]='colIndex'
                      [attr.row-data]='rowIndex'
                >O</span>
            </ng-container>
            <ng-container *ngSwitchCase="0">
                <span class="ship-{{cell}}"
                      [attr.col-data]='colIndex'
                      [attr.row-data]='rowIndex'
                ></span>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <span class="ship-{{cell}}"
                      [attr.col-data]='colIndex'
                      [attr.row-data]='rowIndex'
                >{{cell}}</span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col container-board text-center" [ngClass]="!playerTurn || (playerPoints != 0 && computerPoints == 0) ?'board-deactivate':''">
      <div class="row" *ngFor="let row of ComputerBoard;index as colIndex">
        <div class="col" *ngFor="let cell of row;index as rowIndex"
             [attr.col-data]='colIndex'
             [attr.row-data]='rowIndex'
             (click)="playersBoardsClick($event)"
        >
          <ng-container [ngSwitch]="cell">
            <ng-container *ngSwitchCase="99">
                <span class="ship-{{cell}}"
                      [attr.col-data]='colIndex'
                      [attr.row-data]='rowIndex'
                >X</span>
            </ng-container>
            <ng-container *ngSwitchCase="98">
                <span class="ship-{{cell}}"
                      [attr.col-data]='colIndex'
                      [attr.row-data]='rowIndex'
                >O</span>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

