:host{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.item-movie{
  margin-left: 5px;
  margin-right: 5px;
  width: 19rem;
  cursor: pointer;
  background: var(--background);
  color: var(--on-background);
}

.adult-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
}

.card-text{
  font-weight:700;
}

.category-title{
  & span{
    font-size: x-large;
    font-weight: 500;
  }
  & p{
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
    color: rgba(101,102,98,0.77);
  }
}
