<div app-theme class="container-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <mat-drawer-container class="example-container">
          <mat-drawer #drawer class="example-sidenav" mode="side" autosize>
            <app-navbar-right></app-navbar-right>
          </mat-drawer>
          <mat-drawer-content class="example-sidenav-content">
            <div class="container-fluid p-0" id="container-nav-top">
              <app-navbar-top (menuToggleDrawer)="this.toggleDrawer()" ></app-navbar-top>
            </div>
            <div class="container-fluid p-0" id="container-body">
              <router-outlet class="container-body"></router-outlet>
            </div>
            <div class="container-fluid" id="container-footer">
              <app-footer></app-footer>
            </div>
          </mat-drawer-content>
        </mat-drawer-container>
      </div>
    </div>
  </div>
  <ngx-spinner
          bdColor = "rgba(0, 0, 0, 0.8)"
          size = "medium"
          color = "#ed3370"
          type = "square-jelly-box"
          [fullScreen] = "true">
    <p style="color:#ed3370 " > Loading... </p></ngx-spinner>
</div>


