:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home{
  color: #1976d2;
  cursor: pointer;
}

.navbar-brand{
  color: #1976d2;
  font-weight: bold;
  font-family: cursive;
  font-size: x-large;
}

.yellow-color {
  color:#ffc864;
}

.white-color {
  color:white;
}

.form-check-input {
  background-color: #ff4ba3 !important;
  border-color: #ff4ba3 !important;
}

/* search.component.css */
.search-bar {
  display: flex;
  align-items: center;
}

.search-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.search-input {
  display: none;
  transition: width 0.3s;
}

.search-input.expanded {
  display: block;
  width: 300px;
}

.circle {
  font-size: 15px;
  border-style: solid;
  border-radius: 50%;
  padding: 7px;
  -webkit-text-stroke-width: 0px;
  background-color: rgb(254, 0, 161);
  color: rgb(255, 255, 255);
}

.icon-size{
  font-size: 15px !important;
}

.icon-sidenav{
  transition: 0.3s;
}

.icon-sidenav:hover{
  cursor: pointer;
}

