
.footer {
  border-top: 1px solid #eee;
  .title{
    font-weight:bold;
  }
}
.image-logo-footer{
  box-shadow: -2px 2px 5px #0e3b5f inset,0px 2px 5px #0e3b5f,2px 0px 5px #0e3b5f,2px -2px 5px #0e3b5f inset;
  width:200px;
  height:70px;
}

.image-logo-footer:hover{
  transform: translateX(calc(100ch/2));
  transform: scale(1.6);
  transform: rotate(90deg);
  transform: skew(20deg, 10deg);
  transform: matrix(3, -0.3, 0, 3, 2, 0);
  transition: transform 3s;
}

/* The animation code */
@keyframes slogan-animation {
  0%   {color:red;}
  25%  {color:white;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}

.site-footer {
  background: var(--background);
  color: var(--on-background);
  border-top: 1px solid #eee;
  line-height: 1.5;
  padding: 5px;

  .slogan{
    font-size: 20px;
    font-family: cursive;
    animation-name: slogan-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .copyright{
    font-size: 15px;
    text-align: right;
  }
  .name{
    font-weight:bold;
    color:red;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0.4;
}

.scroll-to-top:hover {
  opacity: 0.8;
}

.scroll-to-top.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

