<div class="row footer theme-main-color">
  <div class="row">
    <div class="col">
      <img src="content/images/logo.png" class="img-fluid w-25"  alt="Formos Movies"/>
    </div>
    <div class="col align-self-end">
      <div class="title ">Contact Us:
          <a href="mailto:formos.movies@movies.formos.com"><span>formos.movies@movies.formos.com</span></a>
      </div>
    </div>
  </div>
</div>
<div class="row site-footer d-flex">
  <hr/>
  <div class="col slogan">
    <p>Formos Movies - Discover, Watch, Enjoy!</p>
  </div>
  <div class="col copyright">
    <span>Copyright © {{ currentYear }} <span class="name">Formos Movies</span> Inc.</span>
  </div>

</div>
